################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGLExamples/v16
/glew-2.1.0
/glfw-3.3.2.bin.WIN64
/glm-0.9.9.8/glm
/x64/Debug
/minimalApp/x64/Debug
/OpenGLExamples.vcxproj.user
/minimalApp/MinimalApp.vcxproj.user
/minimalApp/Debug
/x64/Release
/minimalApp/x64/Release
/glutdlls36
*.user
/TriangleOpenGL/x64
/HelloShader/x64
/TextureMapping/x64/Release
/stb-master
/glad-0.1.34
/VirtualCamera1/x64/Release
/TextureMapping/x64/Debug
/VirtualCamera1/x64/Debug
/VirtualCamera2/x64/Release
